.main-header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    height: 5rem;
    z-index: 1049;
    background-color: #fff;
  }
  
  @media screen and (min-width: 1200px) {
    .desk-hide {
      display: none;
    }
    .main-nav > ul {
      margin: 0;
      padding: 0;
    }
    .main-nav > ul > li {
      display: inline-block;
      position: relative;
      padding: 0 1.5625rem;
      line-height: 3.4375rem;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1350px) {
    .main-nav > ul > li {
      padding: 0 1.125rem;
    }
  }
  @media screen and (min-width: 1200px) {
    .main-nav > ul > li.submenu i {
      position: absolute;
      width: 2.3125rem;
      height: 2.0625rem;
      top: 50%;
      transform: translateY(-50%);
      right: -0.3125rem;
      cursor: pointer;
      transition: all ease 0.5s;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1350px) {
    .main-nav > ul > li.submenu i {
      right: -10px;
    }
  }
  @media screen and (min-width: 1200px) {
    .main-nav > ul > li.submenu i:after {
      content: "";
      height: 0;
      width: 0;
      border-left: 0.375rem solid transparent;
      border-right: 0.375rem solid transparent;
      border-top: 0.375rem solid #007bff;
      position: absolute;
      right: 0.75rem;
      top: 0.875rem;
      z-index: 10;
    }
  }
  @media screen and (min-width: 1200px) {
    .main-nav > ul > li:last-child {
      margin: 0;
    }
    .main-nav > ul > li:last-child ul {
      left: auto;
      right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    .main-nav > ul > li > a {
      display: block;
      padding-left: 0;
      padding-right: 0;
      text-decoration: none;
      position: relative;
      color: #1D1D1D;
      font-weight: 200;
    }
    .main-nav > ul > li > a:before {
      position: absolute;
      content: "";
      width: 0;
      left: 0;
      bottom: 0;
      height: 0.1875rem;
      background: #007bff;
      transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
    }
    .main-nav > ul > li > a.active:before {
      width: 100%;
    }
  }
  @media screen and (min-width: 1200px) {
    .main-nav > ul > li:hover > a {
      transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
    }
    .main-nav > ul > li:hover > a:before {
      width: 100%;
    }
    .main-nav > ul > li:hover > ul {
      display: block;
    }
  }
  @media screen and (min-width: 1200px) {
    .main-nav > ul > li ul {
      background: #fff;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 15.625rem;
      display: none;
      list-style: none;
      border: 1px solid rgba(199, 199, 199, 0.2705882353);
    }
    .main-nav > ul > li ul li {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 3.25rem;
      position: relative;
      line-height: 1.5;
    }
    .main-nav > ul > li ul li:after {
      transition: all ease-in 0.3sec;
      -o-transition: all ease-in 0.3sec;
      -webkit-transition: all ease-in 0.3sec;
      position: absolute;
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      background: #D6E7F0;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      left: 1.5625rem;
      top: 50%;
      transform: translateY(-50%);
    }
    .main-nav > ul > li ul li:hover {
      transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      background: #F5FBFD;
    }
    .main-nav > ul > li ul li:hover:after {
      background: #007bff;
    }
    .main-nav > ul > li ul li a {
      color: #212529;
    }
    .main-nav > ul > li ul li:hover > ul {
      display: block;
      left: 15.625rem;
      top: 0;
    }
    .main-nav > ul > li ul li:hover > a {
      color: black;
      text-decoration: none;
    }
    .main-nav > ul > li ul li.submenu::after {
      content: "\e807";
      font-family: "deafult-icons";
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      color: #007bff;
      font-size: 0.625rem;
    }
  }
  @media screen and (min-width: 1200px) {
    .mob-btn {
      display: none;
    }
  }
  @media screen and (max-width: 1199.98px) {
    /*==== Menu ====*/
    .main-nav {
      display: block;
      position: fixed;
      max-width: 100%;
      top: 4.375rem;
      padding: 2.8125rem;
      padding-top: 2.1875rem;
      right: 0;
      height: 100%;
      transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
      -webkit-transition: all ease-in-out 0.3s;
      z-index: 3;
      width: 100%;
      height: 100%;
      overflow: auto;
      opacity: 0;
      transform: scaleY(0);
      transition: opacity 0.3s ease-in, transfrom 0.3s ease-out;
      box-shadow: 0px 0.1875rem 0.375rem rgba(0, 0, 0, 0.1);
      background: #fff;
    }
    .main-nav ul {
      margin: 0;
      padding: 0;
      display: block;
      margin-top: 0px;
    }
    .main-nav ul.mnav {
      margin-bottom: 1.875rem;
    }
    .main-nav ul li {
      display: block;
      position: relative;
    }
    .main-nav ul li span {
      display: none;
    }
    .main-nav ul li a {
      text-decoration: none;
      font-size: 1rem;
      letter-spacing: 0.05rem;
      display: block;
      padding: 11px 11px;
      font-weight: 500;
      padding-left: 0;
      padding-right: 0;
      color: #1D1D1D;
      border-bottom: 1px solid #F0F2F4;
    }
    .main-nav ul li.submenu i {
      position: absolute;
      width: 2.875rem;
      height: 2.875rem;
      top: 0;
      right: 0;
      cursor: pointer;
      transition: all ease 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main-nav ul li.submenu i:after {
      content: "";
      height: 0.125rem;
      width: 1.25rem;
      background: black;
      z-index: 10;
      transform: rotate(90deg);
      transition: all ease 0.3s;
    }
    .main-nav ul li.submenu i:before {
      content: "";
      height: 0.125rem;
      width: 1.25rem;
      background: black;
      z-index: 10;
      position: relative;
      left: 1.25rem;
    }
    .main-nav ul li.open > i:after {
      transform: rotate(0);
    }
    .main-nav ul ul {
      margin: 0;
      display: none;
    }
    .main-nav ul ul li:last-child {
      border-bottom: 0;
    }
    .main-nav ul ul li a {
      padding-left: 1.25rem;
    }
    .main-nav ul ul li ul a {
      padding-left: 1.875rem;
    }
    .main-nav ul .submenu.open > ul {
      display: block;
    }
    .show-menu .main-nav {
      opacity: 1;
      transform: scale(1, 1);
    }
    .show-menu .overlay {
      position: fixed;
      top: 60;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .mob-btn {
      position: absolute;
      margin: 0px;
      background-color: transparent;
      cursor: pointer;
      right: 0.625rem;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 3.125rem;
      height: 3.125rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.625rem;
    }
    .mob-btn span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: gray;
      transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    }
    .mob-btn .icon-left-1 {
      display: none;
      background: none;
      height: 0;
      width: 0;
    }
    .mob-btn span + span {
      margin-top: 5px;
    }
  }
  .back-to-screen {
    display: none;
    font-size: 1.0625rem;
    position: fixed;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    line-height: 3.125rem;
    z-index: 1;
    cursor: pointer;
    right: 0.125rem;
    top: 0.5rem;
    transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }
  
  body.show-menu {
    overflow: hidden;
    background: #fff;
  }
  body.show-menu .mob-btn {
    z-index: 9;
  }
  body.show-menu .mob-btn span + span {
    width: 80%;
  }
  body.show-menu .mob-btn span + span + span {
    width: 50%;
  }