$primary-color: #2F1A45!default; // green
$secondary-color: #FFB92E !default; // red
$quinary-color: #272727 !default; // Grey
// Custom-color
$purple:#F4EAF7;
$breadcrumb-orange:#F26522;
$hover :$primary-color;
$border-color: #E6E6E6 !default;
$text-alt: #282828 !default;
$text-off: #281107 !default;
$white: #fff !default;
$black: #000 !default;
$red: #8C0321 !default;

// Font Family
$font-family-bold: 'ClanOT-NarrowBold';
$font-family-normal: 'ClanOT-NarrowBook';






// theme colors


//breakpoints
// $grid-breakpoints: (xs: 0,
//     sm: 576px,
//     md: 768px,
//     lg: 992px,
//     xl: 1200px,
//     xxl: 1420px,);

// // adjust the container sizes here
// $container-max-widths: (
//     sm: 540px, 
//     md: 720px,
//     lg: 960px,
//     xl: 1140px,
//     xxl: 1400px); 

// base font


// headings


